html{
  width: 100%;
  height: 100%;
}
#H1_Banner {
  position: relative;
  z-index: 2;
  font-family: "Libre Barcode 128 Text", cursive;
  font-size: 16em;
  text-align: center;
  margin: 0;
  top: -15%;
}

#inv_text {
  color: #000;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
}

header {
  display: flex; 
  align-items: center;
  justify-content: center;
  height: 98vh; 
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0.4649259850424545) 0%, rgba(206,255,249,0.29685875815169815) 57%, rgba(206,255,249,0.5965786461068803) 100%);
}

nav {
    z-index: 999;
    background-color: white;
  width: 100%;
  border-bottom: solid 1px #f3f3f3;
  height: 45px;
}
.bolha {
  position: absolute;
  z-index: 2;
  width: 125px;
  height: 125px;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.36);
  border-radius: 50%;
}

.bolha:nth-child(1) {
  top: 0%;
  left: 70%;
}

.bolha:nth-child(2) {
  top: 37%;
  left: 40%;
}

.bolha:nth-child(3) {
  top: 14%;
  left: 26%;
}

.bolha:nth-child(4) {
  top: 35%;
  left: 67%;
}
#banner_img{
    position: absolute;
    z-index: 3;
    top: 22%;
    left: 73.2%;
}
#banner_img2{
    position: absolute;
    z-index: 0;
    transform: rotate(-20deg);
    top: -10%;
    left: 6%;
}
#banner_img3{
    transform: rotate(20deg);
    filter: blur(5px);
    height: 350px;
    position: absolute;
    z-index: 1;
    top: -2.5%;
    left: 70%;
}
#sideTexto{
    position: absolute;
    z-index: 8;
    left: 1%;
    top: 73%;
}
#sideTexto > h4{
    font-family: 'Vazirmatn', sans-serif;;
    font-size: 60px;
    margin: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
  #bolhaLink{
    position: absolute;
    z-index: 10;
    top: 72.6%;
    left: 20%;
    height: 80px;
    width: 250px;
    border-radius: 80px/90px;
    background-color: #f9f9f9;
    opacity: 1
  }
   #a1{
    position: absolute;
    z-index: 14;
    top: 71.3%;
    height: 100px;
    width: 100%;
  }
  #banner_img4{
    height: 120px;
    position: absolute;
    z-index: 10;
    top: 68.6%;
    left: 20%;
}
#bolhaLink2{
    position: absolute;
    z-index: 10;
    top: 72.9%;
    left: 31%;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background: radial-gradient(circle at bottom left ,#ff0000 35%, transparent 36%), radial-gradient(circle at top right ,#ff0000 35%, transparent 36%);
    background-size: 1em 1em;
    background-color: #f9f9f9;
    opacity: 1
  }

  #bolhaLink2 > h4{
    color: rgb(0, 0, 0);
    margin: 0;
    font-size: 30px;
    padding-top: 22px;
    padding-left: 26px;
  }
  #faixa1{

    position: absolute;
    z-index: 10;
    top: 71.3%;
    height: 100px;
    width: 100%;
    background-color: red;
  }
  #faixa1 > h4{
    font-family: 'Goldman', cursive;

    margin: 0;
    font-size: 80px;
    color: white;
  }
  #inv_text1{
    color: #ffffff;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.4px;
  }
  #faixa2{
    transform: rotate(-5deg);
    position: absolute;
    z-index: 12;
    top: 81%;
    height: 100px;
    width: 102%;
    background-color: rgb(255, 255, 255);
  }
  #faixa2  h4{
    font-family: 'Goldman', cursive;
    margin: 0;
    font-size: 80px;
    color: rgb(0, 0, 0);
  }

  #bolhaLink1{
    position: absolute;
    z-index: 10;
    top: 72.6%;
    left: 56.9%;
    height: 80px;
    width: 250px;
    border-radius: 80px/90px;
    background-color: #f9f9f9;
    opacity: 1
  }
  #banner_img41{
    height: 120px;
    position: absolute;
    z-index: 10;
    top: 68.6%;
    left: 56.9%;
}
#bolhaLink21{
    position: absolute;
    z-index: 10;
    top: 72.9%;
    left: 67.9%;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background: radial-gradient(circle at bottom left ,#ff0000 35%, transparent 36%), radial-gradient(circle at top right ,#ff0000 35%, transparent 36%);
    background-size: 1em 1em;
    background-color: #f9f9f9;
    opacity: 1
  }

  #bolhaLink21 > h4{
    color: rgb(0, 0, 0);
    margin: 0;
    font-size: 30px;
    padding-top: 22px;
    padding-left: 26px;
  }

  #banner_img5{
    position: absolute;
    height: 135px;
    z-index: 13;
    transform: rotate(-45deg);
    top: 77.4%;
    left: 34.7%;
}
#banner_img6{
    position: absolute;
    height: 135px;
    z-index: 13;
    transform: rotate(-45deg);
    top: 69.4%;
    left: 82.7%;
}
#bolhaLink3{
    position: absolute;
    z-index: 12;
    top: 83%;
    left: 38.4%;
    transform: rotate(-8deg);
    height: 80px;
    width: 125px;
    border-radius: 80px/90px;
    background-color: #000000;
    opacity: 1
  }
  #bolhaLink4{
    position: absolute;
    z-index: 12;
    top: 75.2%;
    left: 86%;
    transform: rotate(-8deg);
    height: 80px;
    width: 125px;
    border-radius: 80px/90px;
    background-color: #000000;
    opacity: 1
  }
  #a2{
    transform: rotate(-5deg);
    position: absolute;
    z-index: 15;
    top: 81%;
    height: 100px;
    width: 102%;
  }
